<footer class="footer">
  <p class="text-footer">
    &copy; Copyright<span id="copyYear" style="color:RED" ></span> Travel Expert
  </p>
</footer>
<script>
  var currentYear = new Date().getFullYear();
  document.getElementById("copyYear").innerHTML = currentYear;

</script>