<!DOCTYPE html>
<html lang="en">
<link rel="stylesheet" href="/css/style.css">

<title>Travel Expert/404 Page not found</title>
<h1> ERROR 404</h1>

<h1> PAGE NOT FOUND</h1>

<section class="background firstSection">
	<div class="box-main">
		<div class="second-half"></div>
			<img src="/images/logo.png" alt=" Company Logo" width=50% </div>
			<div class="buttons">
				<button class="btn">
					<a href="/"> Back to Home<a/>
				</button>
	</div>
</section>

<body>
	<%- include('./partials/foot'); %>
</body>

</html>