<!DOCTYPE html>
<html lang="en">


	<!-- <meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1"> -->
	<!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
	<link rel="stylesheet" href="/css/style.css">
	<title>Travel Expert/404 Page not found</title>
	



<h1>  ERROR 404</h1>
<h1> PAGE NOT FOUND</h1>
<section class="background firstSection">
	<div class="box-main">
		<div class="second-half"></div>
		<img src="/images/logo.png" alt=" Company Logo" width=50% </div>

		<div class="buttons">
			<button class="btn">
				<a href="/"> Back to Home
			</button></a></button>
		</div>

</section>


<body>
	<%- include('./partials/foot'); %>
	
</body>

</html>
