<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome to Travel Expert</title>
    <link rel="stylesheet" href="css/style.css">
</head>

<body>
    <nav class="navbar h-nav-resp">
        <ul class="nav-list v-class-resp">
            <div class="logo"><img src="images/logo1.png"></div>
            <li><a href="/">Home</a></li>
            <li><a href="/gallery">Destination </a></li>
            <li><a href="/#contact">Contact Us</a></li>
            <li><a href="/login">Login </a></li>
            <li class="active"><a href="/register">SignUp</a></li>
        </ul>

        <%- include('./partials/burger-menu'); %>
    </nav>
    <br>

    <h1 class="text-center"> SignUp </h1>

    <section class="contact" id="contact">

        <div class="form">
            <form action="https://formspree.io/mrgyybwk" method="POST" Class="reg-form">
                <label for="name">Name</label>
                <input Id="name" class="form-input" type="text" name="name" required="">
                <label for="username">Username</label>
                <input ID="username" class="form-input" type="text" name="username" required="">
                <label for="email">Email </label>
                <input ID="email" class="form-input" type="email" name="email" required="">
                <label for="password">Password</label>
                <input ID="password" class="form-input" type="password" name="password"
                    pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}" title=" 1  number1 uppercase  Minimum 8  characters"
                    required></label>
                <label for="repassword">Confirm Password</label>
                <input ID="repassword" class="form-input" type="password" name="repassword" title=" Password not Match"
                    required>
                <label>newsletter? <input class="form label" type="checkbox"></label>
                <br>
                <input class="btn-drk" type="submit" value="SignUp">



                <h3> Already have account? <a href="login.html">Login</a></h3>

            </form>
        </div>

    </section>


    <%- include('./partials/foot'); %>
    <!-- js for  Burger menu-->
    <%- include('./partials/gallery-js'); %>  
    <%- include('./partials/js-burger'); %> 
</body>

</html>